<html>
    <meta charset="utf-8" />
    <head>
        <title>Salesforce way</title>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@salesforceway" />
        <meta name="twitter:creator" content="@xixiaofinland" />
        <meta property="og:description" content="Salesforce Way is a podcast for Salesforce developers" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Salesforce Way podcast" />
        <meta property="og:site_name" content="Salesforce Way" />
        <meta property="og:url" content="http://salesforceway.com" />
        <meta property="og:image" content="http://salesforceway.com/img/logo-3000x3000.png" />
        <%- partial("_partials/_head") %>
    </head>
    <body>
        <%- partial("_partials/_header") %>
        <main>
            <%- yield %>
        </main>
        <%- partial("_partials/_footer") %>
    </body>
</html>
