<footer>
    <small>本站语音作品为创作公用署名-非商业-禁演 4.0 许可证 <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br>感谢<a href="http://weibo.com/272230479" target="_blank">@Millie</a>设计的精美LOGO
    </small>
</footer>
