<header>
  <div class="header__container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="http://www.weibo.com/p/1005055867456930">新浪微博</a></li>
        <li class="global-nav__item"> <a href="/podcast.rss">RSS Feed</a></li>
      </ul>
    </nav>
  </div>
</header>
