<header>
  <div class="header__container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="/rss.xml" target="_blank">RSS</a></li>
        <li class="global-nav__item"> <a href="https://itunes.apple.com/fi/podcast/salesforceway/id1383914828" target="_blank">iTunes</a></li>
        <li class="global-nav__item"> <a href="http://eepurl.com/giT1bP" target="_blank">Newsletter</a></li>
      </ul>
    </nav>
  </div>
</header>
