<header>
  <div class="header__container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="http://blog.salesforceway.com" target="_blank">Blog</a></li>
        <li class="global-nav__item"> <a href="https://twitter.com/xixiaofinland" target="_blank">Twitter</a></li>
        <!-- <li class="global-nav__item"> <a href="https://www.facebook.com/salesforceway" target="_blank">Facebook</a></li> -->
        <li class="global-nav__item"> <a href="/rss.xml" target="_blank">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>
